p {
  color:#708090;
  font-family:"Comic Sans MS", cursive, sans-serif;
}

h1{
  color:#708090;
  font-family:"Arial Black", Gadget, sans-serif;
}

h2{
  color: #708090;
  font-family:"Arial Black", Gadget, sans-serif;

}


body{
  background-color:#BC8F8F;

}

#container{
  width:95%;
  background-color:#F5F5DC;
  margin:0 auto;
}

#wrapper {
  width:95%;
  margin= 0 auto;

}

#nav {
  padding: 0;
}

#nav li {
  list-style-type: none;
  float: left;
  margin: 0;
  padding: 0;
  width: 25%;
}

#nav a:link, a:visited {
  display: block;
  color: #DB7093;
  background-color: #D3D3D3;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
  padding: 4px;
  font-style: Helvetica, Arial, Sans-serif;
 }


 #nav a:hover, a:active {
   background-color: #708090;
 }

 img {
   border-style: none;
 }
