p {
  color:#708090;
  font-family:"Palatino Linotype", "Book Antiqua", serif;
  font-size: 1.0em;
}

h1{
  color:#708090;
  font-family:"Arial Black", Gadget, sans-serif;
}

h2{
  color: #708090;
  font-family:"Arial Black", Gadget, sans-serif;
}


body{
  background-color:#F5F5DC;
}

#container{
  width:95%;
  background-color:#95AA86;
  margin:0 auto;
}

#nav {
  padding: 0;
}

#nav li {
  list-style-type: none;
  float: left;
  margin: 0;
  padding: 0;
  width: 25%;
}

#nav a:link, a:visited {
  display: block;
  color: #6B994B;
  background-color: #D3D3D3;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
  padding: 4px;
  font-family: "Arial Black", Gadget, sans-serif;
 }

 #nav a:hover, a:active {
   background-color: #708090;
 }

 img {
   border-style: none;
 }
