html {
 box-sizing: border-box;
 font-family: Arial, sans-serif;
 font-size: 16px;
 font-weight: normal;
 line-height: 1.4;
}

html,
body {
 height: 100%;
 margin: 0;
 padding: 0;
 width: 100%;
}

.tab-group{
 display: flex;
 flex-flow: column;
}

.tab label{
 background: #72d2c6 ;
 color: #fff;
 display: block;
 font-weight: bold;
 line-height: 3;
 padding-left: .5em;
 margin-bottom: .5em;
}

.tab input:focus + label, .tab label:hover{
 background: #85d8ce ;
}

.tab input{
 display: none;
}

.tab-content{
 height:0px;
 overflow: hidden;
 transition: hidden .35s ease-in-out;
}

.tab input:checked ~ .tab-content{
 height:9em;
}

.subnav{
 list-style: none;
 text-align: center;
 padding: 0;
}

.tab-content a{
 background: rgba(112,138,144,0.75);
 text-decoration: none;
 font-size: 1em;
 font-weight: bold;
 display: block;
 text-align: center;
 color: white;
 padding: 10px;
}

@media all and (min-width:800px){
 .tab-group{
   display: flex;
   flex-flow: row;
   justify-content: flex-start;
 }

 .tab label{
   padding: 0 10px;
 }

 .tab label:hover ~ .tab-content{
   height:9em;
 }
}
